%h2= @habit.what
%span#description Click on the current day to mark it off. You may not mark off previous days (cheater).
#habit-view
  %table#calendar
    %tr
      %th= "Sunday"
      %th= "Monday"
      %th= "Tuesday"
      %th= "Wednesday"
      %th= "Thursday"
      %th= "Friday"
      %th= "Saturday"
    - day = @habit.start_date - @habit.start_date.wday
    - last_day = day + 21
    - weeks = 0
    - max_weeks = @habit.start_date.wday == 0 ? 3 : 4
    - until weeks == max_weeks
      %tr 
        - begin
          %td{:class => day == Date.today ? "today" : day < Date.today ? "past" : "" }
            .container
              - if day >= @habit.start_date && day < @habit.start_date + 21
                %span= "Day %s" % (day + 1 - @habit.start_date).to_s
              - else
                %span &nbsp;
              %span= day.strftime "%m/%d"
              - if @habit.finished_dates.include?(day)
                %span.x X
          - day = day + 1
        - end until day.wday == 0
      - weeks = weeks + 1
  #habit-summary
    %span.bold#days-completed= @habit.finished_dates.count
    %span out of
    %span.bold#days-total 21
    %span days completed with
    %span.bold#missed-days= @habit.missed_days
    %span missed day#{ @habit.missed_days != 1 ? 's' : '' }.
  .content-block
    - if @current_user.phone_number
      %span#sms-enable You receive a daily text message reminder every day at <a hour="#{ @habit.next_notification.localtime.hour }" title="Click to edit." id="notification-edit-link">#{ @habit.notification_time }</a>
      = form_tag( notification_edit_path, { :id => "notification-edit-form", :class => "notification-edit-form" } ) do
        %select
          - for hour in 1..12 do 
            %option{ :value => hour } #{ hour }:00 AM
          - for hour in 1..12 do 
            %option{ :value => hour + 12 } #{ hour }:00 PM
      ='.'
    - else
      %span#sms-enable Text <b>949-391-2512</b> saying <b>#{ @current_user.sms_code }</b> to get a daily reminder.
  %a=link_to "Start a new habit", :controller => "habit", :action => "cancel"
