%h2= @habit.what
%span#description Click on the current day to mark it off. You may not mark off previous days (cheater).
#habit-view
  %table#calendar
    %tr
      %th= "Sunday"
      %th= "Monday"
      %th= "Tuesday"
      %th= "Wednesday"
      %th= "Thursday"
      %th= "Friday"
      %th= "Saturday"
    - day = @habit.start_date - @habit.start_date.wday
    - last_day = day + 21
    - weeks = 0
    - max_weeks = @habit.start_date.wday == 0 ? 3 : 4
    - until weeks == max_weeks
      %tr 
        - begin
          %td{:class => day == Date.today ? "today" : day < Date.today ? "past" : "" }
            .container
              - if day >= @habit.start_date && day < @habit.start_date + 21
                %span= "Day %s" % (day + 1 - @habit.start_date).to_s
              - else
                %span &nbsp;
              %span= day.strftime "%m/%d"
              - if @habit.finished_dates.include?(day)
                %span.x X
          - day = day + 1
        - end until day.wday == 0
      - weeks = weeks + 1
  .content-block
    - if @habit.notification_hour
      %a.notifications-form Edit SMS Notifications
    - else
      %a.notifications-form Enable SMS Notifications
    #notification-form{ :class => @errors && "show-block" }
      = form_tag notification_edit_path do
        - if @errors
          %ul.error-list
            - @errors.each do |error|
              %li= error[1]
        %p
          %label{ :for => 'phone' } Phone number
          %input#phone{ :name => 'phone', :type => 'text', :value => @habit.user.phone_number }
        %p
          %label{ :for => 'time' } Time
          %select#hour{ :name => 'hour' }
            - for i in 1..12 do
              %option{ :value => i, :selected => i == (@habit.notification_hour || 8) && "true" } #{i}:00AM
            - for i in 1..12 do
              %option{ :value => i+12, :selected => i+12 == @habit.notification_hour } #{i}:00PM
        %input{ :type => "submit", :value => 'Save' }
        - if @habit.notification_hour
          %input.remove{ :type => "submit", :value => 'Remove' }
  #total
    %span#days-completed= @habit.finished_dates.count
    %span /
    %span#days-total 21
  %a=link_to "Start a new habit", :controller => "habit", :action => "cancel"
