%table#users
  %tr
    %th User
    %th Last login
    %th Habit
    %th Progress
  - @users.each do |user|
    %tr
      %td= link_to user, admin_user_path(user)
      %td= user.updated_at.to_s :short
      %td= truncate user.habits.last.to_s
      %td= "#{ user.habits.any? ? user.habits.last.days_completed : 0 }/21"
