#user-info
  %ul
    -if @user.facebook_identifier
      %img{ :src => 'http://graph.facebook.com/%s/picture' % @user.facebook_identifier }
    %li ID #{@user.id}
    -if @user.name
      %li Name #{@user.name}
    -if @user.username
      %li Username #{@user.username}
    -if @user.phone_number
      %li Phone Number #{@user.phone_number}
    -if @user.facebook_identifier
      %li Facebook Identifier #{@user.facebook_identifier}
    %li Created at #{@user.created_at}
    %li Updated at #{@user.updated_at}
    -if @user.admin
      %li Admin 
    %ul
      - @user.habits.each do |h|
        %li
          = link_to "Habit: #{h.what}", admin_habit_path(h)
