<!DOCTYPE html>
<html>
  <head>
    <title>Twenty One Day Habit</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "habit-create" %>
    <%= stylesheet_link_tag "habit-view" %>
    <%= stylesheet_link_tag "habit-cancel" %>
    <%= stylesheet_link_tag "friends-list" %>
    <%= javascript_include_tag "jquery-1.4.4.min" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <meta property="og:description" content="Helps you build better habits!" />
    <meta property="og:image" content="http://twentyonedayhabit.heroku.com/img/single_day.png" />
  </head>
  <body>
    <div id="body">
      <a href="/"><h1 id="title">Twenty One Day Habit</h1></a>
        <span id="tagline">Get shit done.</span>
        <hr id="break" />
        <%- if flash[:error] %>
          <div id="error">
            <span id="error"><%= flash[:error] %></span>
          </div>
        <%- end %>
        <%- if flash[:notice] %>
          <div id="notice">
            <span><%= flash[:notice] %></span>
          </div>
        <%- end %>
        <%= yield %>
        <hr id="break" />
        <div id="footer">
          <% if @current_user %>
            <a class="footer-link" href="<%= url_for friends_path %>">Your friends' habits</a>
            <% if @current_user.admin? %>
              <a class="footer-link" href="<%= url_for admin_root_path %>">Admin</a>
            <% end %>
          <% end %>
          <span id="credits">Made by <a href="http://jeffdickey.info/">Jeff Dickey</a></span>
        </div>
      </div>
  </body>
</html>
